<div class="all-about">
  <div id="about">
    <h2>SOBRE MIM</h2>
    <h2 class="about-sub">👋🏼 Olá, sou Heloisa</h2>
    <p class="about-text">
      Minha experiência no desenvolvimento abrange análise e debug para a identificação eficaz de erros.
      Destaco minha sólida experiência em suporte técnico, onde faço elaboração de scripts e a resolução de
      bugs por meio de modificações no código fonte em ambientes que utilizam <span style="color: black;">PL/SQL</span>, <span style="color: black;">PHP</span> e <span style="color: black;">GeNexus</span>.
      Também, há a comunicação constante com os clientes para a resolução de problemas.
      Além dessa base, ressalto um projeto pessoal, onde foi aplicada tecnologias como <span style="color: black;">Vue.js</span> e <span style="color: black;">API REST</span>.
    </p>
  </div>
  <div class="button-align">
    <button (click)="downloadPDF()" class="button">Download CV</button>
    <button (click)="scrollTo('all-projects')" class="button">Projetos</button>
  </div>
  <div class="social">
    <a href="https://github.com/heloisacst"><img class="img-social" src="../assets/github.png"></a>
    <a href="https://www.linkedin.com/in/heloisa-cristina-681321198/"><img class="img-social" src="../assets/linkedin.png"></a>
  </div>
</div>
