<nav class="navbar">
  <div *ngIf="isMobile()" class="menu-icon" (click)="toggleMenu()">
    <i class="fas fa-bars"></i>
  </div>
  <ul class="navbar-items" [ngClass]="{'show': isMenuOpen}">
    <li *ngIf="isMenuOpen" ><a [routerLink]="['/']">Home</a></li>
    <li *ngIf="isMenuOpen" (click)="scrollTo('about')"><a>Sobre</a></li>
    <li *ngIf="isMenuOpen" (click)="scrollTo('all-projects')"><a>Projetos</a></li>
    <!--<li *ngIf="isMenuOpen"><a href="/contact">Contato</a></li>-->
    <li *ngIf="isMenuOpen" (click)="toggleLanguageMenu()"><img src=".././assets/brazil.png"></li>
    <ul *ngIf="showLanguageMenu && isMenuOpen" id="langOptions">
      <li (click)="selectLanguage('portuguese')">Português</li>
    </ul>
  </ul>
</nav>
