<div id="all-projects">
  <h2>PROJETOS</h2>
  <div class="projects">
    <div class="proj-card">
      <p class="proj-title">API Voll.med</p>
      <p class="proj-desc-main">Este projeto também envolve a construção de uma aplicação com o conceito de CRUD
        utilizando Spring Boot e API REST.
      </p>
      <p class="proj-desc">
        <span style="color: black;">Tecnologias: </span>Spring Boot - Maven, JPA, Hibernate, Lombock, MVC
      </p>
      <p class="proj-desc">
        <span style="color: black;">Repositório: </span> <a href="https://github.com/heloisacst/voll.med">github.com/heloisacst/voll.med</a>
      </p>
    </div>
    <div class="proj-card">
      <p class="proj-title">Sistema Bancário</p>
      <p class="proj-desc-main">Este projeto realiza a gestão de contas, transações e informações, tanto para
        clientes quanto para gerentes. Envolve também o conceito de CRUD e OOP, com a utilização de banco de
        dados MySQL.
      </p>
      <p class="proj-desc">
        <span style="color: black;">Tecnologias: </span>Java - OOP
      </p>
      <p class="proj-desc">
        <span style="color: black;">Repositório: </span> <a href="https://github.com/heloisacst/sistema-bancario">github.com/heloisacst/sistema-bancario</a>
      </p>
    </div>
    <div class="proj-card">
      <p class="proj-title">Cat Facts</p>
      <p class="proj-desc-main">O objetivo é proporcionar aos usuários fotos e informações interessantes sobre
        gatos, obtidas por meio de duas APIs distintas. Uma API é utilizada para adquirir imagens, enquanto a
        outra fornece fatos interessantes.
      </p>
      <p class="proj-desc">
        <span style="color: black;">Tecnologias: </span>Vue.js, API, HTML5 e CSS3
      </p>
      <p class="proj-desc">
        <span style="color: black;">Repositório: </span> <a href="https://github.com/heloisacst/cat-facts">github.com/heloisacst/cat-facts</a>
      </p>
    </div>
  </div>
</div>
