<div id="all-skills">
  <h2>COMPETÊNCIAS</h2>
  <div class="skills">
    <div class="skill">
      <img class="logo" src="../../assets/angular.png" alt="Logo do Angular">
      <p class="desc-logo">Angular</p>
    </div>
    <div class="skill">
      <img class="logo" src="../../assets/vue.png" alt="Logo do Vue.js">
      <p class="desc-logo">Vue.js</p>
    </div>
    <div class="skill">
      <img class="logo" src="../../assets/type.png" alt="Logo do Typescipt">
      <p class="desc-logo">Typescipt</p>
    </div>
    <div class="skill">
      <img class="logo" src="../../assets/java.png" alt="Logo do Java">
      <p class="desc-logo">Java</p>
    </div>
    <div class="skill">
      <img class="logo" src="../../assets/boot.png" alt="Logo do Springboot">
      <p class="desc-logo">Spring Boot</p>
    </div>
  </div>
</div>
