<main>
  <div class="background-container">
    <header class="brand-name">
      <a [routerLink]="['/']">  <img class="brand-logo" src="/assets/moon.png" alt="logo" aria-hidden="true"></a>
      <app-navbar></app-navbar>
    </header>
    <div class="resume">
      <img class="me" src="/assets/me3.png">
      <p class="name">Heloisa Cristina</p>
      <p class="role">Desenvolvedora full-stack</p>
      <button (click)="scrollTo('about')" class="button-about">SAIBA MAIS</button>
    </div>
  </div>
  <section class="content">
    <app-about></app-about>
    <app-skills></app-skills>
    <app-projects></app-projects>
    <app-scroll-top></app-scroll-top>
    <router-outlet></router-outlet>
  </section>
</main>
