@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

.background-container {
  background-image: url('../assets/mountain 1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 100vh; /* Garante que a imagem de fundo cubra toda a altura da tela */
  display: flex;
  flex-direction: column;
  background-color: black;
}

.brand-name {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 1200px;
  padding-top: 10px;
}

.brand-logo {
  width: 4.06rem;
  height: 4.62rem;
  margin: 5px;
  opacity: 0.5;
}

main {
  font-family: 'Krona One', sans-serif;
  color: white;
}

