<main>
    <div class="resume">
      <img class="me" src="/assets/me3.png">
      <p class="name">Heloisa Cristina</p>
      <!-- <p class="role">Entusiasta de tecnologia com habilidades em análise, debug e desenvolvimento</p>-->
      <button (click)="scrollTo('about')" class="button-about">SAIBA MAIS</button>
    </div>
  <section class="content">
    <app-about></app-about>
    <app-skills></app-skills>
    <app-projects></app-projects>
    <app-scroll-top></app-scroll-top>
    <!--<button ngIf="mostrarBotao" (click)="enviarMensagem()">Enviar mensagem no WhatsApp</button>-->

  </section>
</main>

