@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

.content {
  background-color: #3D3434;
}

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20vh;
}

.name {
  font-size: 2.3vw;
  margin: 0;
  margin-top: 2vh;
}

.role {
  margin: 0;
  font-size: 16px;
  margin-top: 5px;
}

.button-about {
  background-color: #503C3C;
  color: white;
  font-family: 'Krona One', sans-serif;
  border-radius: 10px;
  width: 9vw;
  height: 6.5vh;
  margin-top: 15px;
  font-size: 2vh;
  border: none;
  cursor: pointer;
}

.button-about:hover {
  background-color: white;
  color: #503C3C;
}

@media only screen and (max-width: 767px) {
  .name {
    font-size: 5vw;
  }

  .me {
    width: 30vw;
  }

  .button-about {
    width: 15vw;
    height: 5vh;
    font-size: 1.3vh;
  }
}

